src/test/resources/translator-part-refers-to-type.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:api="urn:example:translator"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="translator"
	targetNamespace="urn:example:translator"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<schema targetNamespace="urn:example:translator"
				elementFormDefault="qualified"
				xmlns="http://www.w3.org/2001/XMLSchema"
				xmlns:x="urn:example:translator">

			<element name="word" type="x:Word"></element>

			<complexType name="Word">
				<simpleContent>
					<extension base="string">
						<attribute name="lang" type="string"></attribute>
					</extension>
				</simpleContent>
			</complexType>

			<element name="words" type="x:Words"></element>

			<complexType name="Words">
				<sequence>
					<element name="word" type="string" minOccurs="0"
							 maxOccurs="unbounded">
					</element>
				</sequence>
				<attribute name="lang" type="string" use="required"></attribute>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="translateRequest">
		<wsdl:part name="body" type="api:Word"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="translateResponse">
		<wsdl:part name="body" type="api:Words"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TranslatorPort">
		<wsdl:operation name="translate">
			<wsdl:input message="api:translateRequest"></wsdl:input>
			<wsdl:output message="api:translateResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranslatorPortBinding"
		type="api:TranslatorPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translate">
			<soap:operation
				soapAction="urn:example:translator/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TranslatorService">
		<wsdl:port name="TranslatorPort"
			binding="api:TranslatorPortBinding">
			<soap:address
				location="http://localhost:8080/translator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
